{% extends "_base.html" %}
{% load static %}

{% block main %}
<h1>Compare Morph to Input</h1>
<figure>
  <figcaption><h2>{{virtualmorph.name}}</h2></figcaption>
  <img src="{% get_static_prefix %}dracogate/images/fe{{object.game_no}}/characters/{{object.unit}}.png" />
</figure>
<table>
  <thead>
    <tr>
      <th>Class</th>
      <td>{{unit_class}}</td>
    </tr>
    <tr>
      <th>Lv</th>
      <td>{{unit_lv}}</td>
    </tr>
  </thead>
  <tbody>
    {% for stat in numeric_stats %}
    <tr>
      <th>{{stat.name}}</th>
      <td>{{stat.value}}</td>
      {# <td> <meter value="{{stat.value}}" max="{{stat.absmax}}" high="{{stat.max}}" min="0" optimum="{{stat.max}}"> </meter> </td> #}
    </tr>
    {% endfor %}
  </tbody>
</table>

<form id="stat_input">
  {% csrf_token %}
  <table>
    <tbody>
      <tr>
        <th>Class</th>
        <td><input disabled type="text" name="_class" /></td>
      </tr>
      <tr>
        <th>Lv</th>
        <td><input disabled type="text" name="_lv" /></td>
      </tr>
      {{ form.as_table }}
    </tbody>
  </table>
  <button
    type="button" hx-trigger="click"
                    {# type="submit" hx-trigger="submit" #}
    hx-target="#compare_morph_to_input_forecast"
    hx-get="{% url 'dracogate:compare_morph_to_input_forecast' virtualmorph.id %}"
    hx-include="#stat_input"
    >
    Preview
  </button>
</form>

<div id="compare_morph_to_input_forecast"
  hx-get="{% url 'dracogate:compare_morph_to_input_forecast' virtualmorph.id %}"
  hx-trigger="load">
</div>
{% endblock %}

