<div class="subtrahend">
  {% if form %}
  <form
    hx-get="{% url 'dracogate:compare_morph_forecast' virtualmorph.id %}"
    hx-trigger="changed"
    >
    {% csrf_token %}
    {{ form }}
  </form>
  {% else %}
  <table>
    <thead>
      <tr>
        <th>Class</th>
        <td></td>
      </tr>
      <tr>
        <th>Level</th>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {% for stat in subtrahend_stats %}
      <tr>
        <th>{{stat.name}}</th>
        <td>{{stat.value}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

<div class="difference">
  <table>
    <thead>
      <tr>
        <th>Class</th>
        <td>{{ unit_class }}</td>
      </tr>
      <tr>
        <th>Level</th>
        <td>{{ unit_lv }}</td>
      </tr>
    </thead>
    <tbody>
      {% for stat in difference_stats %}
      <tr>
        <th>{{ stat.name }}</th>
        <td>{% if stat.value == None %}N/A{% else %}{{ stat.value }}{% endif %}</td>
        <td>
          <meter value="{{ stat.value }}" min="0" max="{{ stat.absmax }}" high="{{ stat.max }}" optimum="{{ stat.max }}">
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h2>Name</h2>
Profile
etc.

<table>
  <thead>
    <!-- class level -->
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </thead>
</table>

<h2></h2>
