<table>
  <thead>
    <tr>
      <th>Class</th>
      <td>N/A</td>
    </tr>
    <tr>
      <th>Lv</th>
      <td>N/A</td>
    </tr>
  </thead>
  <tbody>
    {% for stat in diff_stats %}
    <tr class="stat{% if stat.delta > 0 %} increased{% elif stat.delta < 0 %} decreased{% endif %}">
      <th>{{stat.name}}</th>
      <td>
        {% if stat.value == None %}
        N/A
        {% elif stat.value > 0 %}
        +{{stat.value}}
        {% else %}
        {{stat.value}}
        {% endif %}
      </td>
      {# <td> <meter value="{{stat.value}}" max="{{stat.absmax}}" high="{{stat.max}}" min="0" optimum="{{stat.max}}"> </meter> </td> #}
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr class="stat{% if cum_diff > 0 %} increased{% elif cum_diff < 0 %} decreased{% endif %}">
      <th>Total</th>
      <td>
        {% if cum_diff > 0 %}+{% endif %}{{cum_diff}}
      </td>
    </tr>
  </tfoot>
</table>

