{% extends "_base.html" %}
{% load static %}

{% block main %}
<div id="compare_morphs">
  <h1>Compare Morphs</h1>
  <menu>
    {% for virtualmorph in virtualmorph_list %}
    <li>
      <a href="{% url 'dracogate:compare_morph' virtualmorph.id %}">
        <figure>
          <figcaption><h2>{{ virtualmorph.name }}</h2></figcaption>
          <table>
            <tbody>
              <tr>
                <th>Game</th>
                <td>FE{{virtualmorph.game_no}}</td>
              </tr>
              <tr>
                <th>Unit</th>
                <td>{{virtualmorph.unit}}</td>
              </tr>
            </tbody>
          </table>
        </figure>
      </a>
    </li>
    {% endfor %}
  </menu>
</div>
{% endblock %}
