{% extends "base.html" %}

{% load static %}

{% block title %}
Create Morph – Game Select
{% endblock %}

{% block main %}

<article>

<h1>Create Morph</h1>

<div id="create_morph">

<section id="game_select">
  <h2>Game Select</h2>

  <menu>

  {% for game_no, formal_name in games.items %}
  <li>
    <a href="{% url 'dracogate:unit_select' game_no %}">
      <figure>
        <img src="{% get_static_prefix %}dracogate/images/{{game_no}}/cover-art.png" />
        <figcaption>
            <h3>FE{{game_no}}</h3>
            <h4>{{ formal_name }}</h4>
        </figcaption>
      </figure>
    </a>
  </li>
  {% endfor %}

  </menu>

</section>

{% block unit_select %}
{% endblock %}

</div>

</article>

{% endblock %}
