{% extends "base.html" %}

{% load static %}

{% block title %}
Create Morph
{% endblock %}

{% block main %}

<article>

<h1>Create Morph</h1>

<div id="create_morph">

<section id="game_select">
  <h2>Game Select</h2>

  <menu>

  {% for this_game_no, formal_name in games.items %}
  <li{% if this_game_no == game_no %} class="active"{% endif %} id="FE{{this_game_no}}">
    <a href="{% url 'dracogate:unit_select' this_game_no %}#FE{{this_game_no}}">
      <figure>
        <img src="{% get_static_prefix %}dracogate/images/{{this_game_no}}/cover-art.png" />
        <figcaption>
            <h3>FE{{this_game_no}}</h3>
            <h4>{{ formal_name }}</h4>
        </figcaption>
      </figure>
    </a>
  </li>
  {% endfor %}

  </menu>

</section>

{% block unit_select %}
{% endblock %}

</div>

</article>

{% endblock %}
