{% extends "base.html" %}
{% load static %}

{% block title %}
Morph List
{% endblock %}

{% block main %}

<section id="modify_morphs">
  <h1>Modify Morphs</h2>

<menu>
  {% for object in object_list %}
    <li>
      <a href="{% url 'dracogate:modify_morph' object.id %}">
        <figure>
          <img src="{% get_static_prefix %}dracogate/images/{{object.game_no}}/characters/{{object.name}}.png" />
          <figcaption>
            <h2>{{ object.morph_id }}</h2>
            <table>
              <thead>
                <tr>
                  <th>Class</th>
                  <td>{{ object.progress.current_cls }}</td>
                </tr>
                <tr>
                  <th>Lv</th>
                  <td>{{ object.progress.current_lv }}</td>
                </tr>
              </thead>
              <tbody>
                {% for option, opt_value in object.options.items %}
                <tr>
                {% if option == "father" %}
                <th>Father</th>
                <td>{{ opt_value }}</td>
                {% elif option == "hard_mode" %}
                <th>Mode</th>
                <td>{% if opt_value == True %}Hard{% else %}Normal{% endif %}</td>
                {% elif option == "number_of_declines" %}
                <th>Declines</th>
                <td>{{ opt_value }}</td>
                {% elif option == "chapter" %}
                <th>Chapter</th>
                <td>{{ opt_value }}</td>
                {% elif option == "lyn_mode" %}
                <th>Campaign</th>
                <td>{% if opt_value == True %}Tutorial{% else %}Main{% endif %}</td>
                {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </figcaption>
        </figure>
      </a>
    </li>
  {% endfor %}
</menu>

</section>

{% block modify_morph %}
{% endblock %}

{% endblock %}
