{% extends "dracogate/list_morphs.html" %}

{% load static %}

{% block title %}
{{ object.morph_id }}
{% endblock %}

{# History (???)  #}

{% block modify_morph %}
<article id="modify_morph">
  {# Morph ID  #}
  <h2>{{ object.morph_id }}</h2>
  <main>
    <div id="profile">
      {# Portrait with caption  #}
      <img src="{% get_static_prefix %}dracogate/images/{{object.game_no}}/characters/{{object.name}}.png" />
      <table>
        {# Init-options  #}
        <thead>
          <tr>
            <th>Game</th>
            <td>FE{{ object.game_no }}</td>
          </tr>
          <tr>
            <th>Unit</th>
            <td>{{ object.name }}</td>
          </tr>
        </thead>
        <tbody>
          {% for option, opt_value in object.options.items %}
          <tr>
            {% if option == "father" %}
            <th>Father</th>
            <td>{{ opt_value }}</td>
            {% endif %}
            {% if option == "hard_mode" %}
            <th>Mode</th>
            <td>{% if opt_value == True %}Hard{% else %}Normal{% endif %}</td>
            {% endif %}
            {% if option == "number_of_declines" %}
            <th>Declines</th>
            <td>{{ opt_value }}</td>
            {% endif %}
            {% if option == "chapter" %}
            <th>Chapter</th>
            <td>{{ opt_value }}</td>
            {% endif %}
            {% if option == "lyn_mode" %}
            <th>Campaign</th>
            <td>{% if opt_value == True %}Tutorial{% else %}Main{% endif %}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {# Current stats  #}
    <section
      id="stats_before"
      hx-get="{% url 'dracogate:modify_morph_preview' object.pk %}"
      hx-trigger="load"
      >
    </section>
    <section id="stats_after">
      <h3>After</h3>
      {# {% block stats_after %} {% endblock %} #}
    </section>
    {# Menu of methods  #}
    <section id="action_menu">
      <h3>Actions</h3>
      <menu>
    {# TODO: Fill out. #}
      </menu>
    </section>
    <section id="method_form">
      {# {% block method_form %} #}
    {# TODO: Fill out. #}
      <h3>{{ method.title }}</h3>
      <form
        hx-get="{% url 'dracogate:modify_morph_preview' object.pk %}"
        hx-trigger="change"
        hx-target="#stats_after"
        method="post"
        >
        {{ method.form }}
      </form>
      {# {% endblock %} #}
    </section>
  </main>
</article>
{% endblock %}

