{% extends "_base.html" %}
{% load static %}

{% block main %}
<h1>{{ object.name }}</h1>
<h2>{{action.title}}</h2>
<img src="{% get_static_prefix %}dracogate/images/fe{{object.game_no}}/characters/{{object.unit}}.png" />
<form
  method="post"
  hx-get="{% url 'dracogate:action_forecast' object.id %}?action={{action.name}}&stat_type={{action.stat_type}}"
  hx-target="#action_forecast"
  hx-trigger="change"
  >
  {% csrf_token %}
  {{ form }}
  <button{% if not is_success %} disabled{% endif %}>Confirm</button>
</form>
<div id="action_forecast"
  hx-get="{% url 'dracogate:action_forecast' object.id %}?stat_type={{action.stat_type}}"
  hx-trigger="load"
  >
</div>
{% endblock %}

