{% extends "_base.html" %}
{% load static %}

{% block main %}
<h1>Morph Select</h1>
<ol>
{% for virtualmorph in virtualmorph_list %}
  <li>
    <a href="{% url 'dracogate:morph_detail' virtualmorph.id %}">
      {# <figure> #}
        {# <img width="50" src="{% get_static_prefix %}dracogate/images/fe{{virtualmorph.game_no}}/characters/{{virtualmorph.unit}}.png" /> #}
        {# <figcaption>FE{{virtualmorph.game_no}} {{virtualmorph.unit}} ({{ virtualmorph.name }})</figcaption> #}
        {# </figure> #}
      FE{{virtualmorph.game_no}} {{virtualmorph.unit}} ({{ virtualmorph.name }})
    </a>
  </li>
{% endfor %}
</ol>
{% endblock %}
