{% extends "dracogate/unit_select.html" %}

{% load static %}

{% block title %}
Create Morph: FE{{route_params.game_no}} {{route_params.name}}
{% endblock %}

{% block unit_confirm %}

<section id="unit_confirm">
  <h2>Unit Confirm</h2>
  <div
    hx-get="{% url 'dracogate:unit_confirm_preview' route_params.game_no route_params.name %}"
    hx-trigger="load"
    class="unit-hub" id="unit_confirm_preview">
  </div>
  <form
    hx-get="{% url 'dracogate:unit_confirm_preview' route_params.game_no route_params.name %}"
    hx-trigger="change"
    hx-target="#unit_confirm_preview"
    method="post" action="{% url 'dracogate:unit_confirm' route_params.game_no route_params.name %}">
    {% csrf_token %}
    {{ form }}
    <button>Submit</button>
  </form>
</section>

{% endblock %}
