{% extends "dracogate/game_select.html" %}

{% load static %}

{% block title %}
Create Morph – Unit Select
{% endblock %}

{% block unit_select %}

<section id="unit_select">

  <h2>Unit Select</h2>
  <menu>
    {% for unit in units %}
    <li>
      <a href="{% url 'dracogate:unit_confirm' game_no unit %}">
        <figure>
          <img src="{% get_static_prefix %}dracogate/images/{{game_no}}/characters/{{unit}}.png" />
          <figcaption>{{ unit }}</figcaption>
        </figure>
      </a>
    </li>
    {% endfor %}
  </menu>

</section>

{% block unit_confirm %}
{% endblock %}

{% endblock %}
