node_modules

# venv already has a .gitignore in it, but prettier does not respect it using
# the --ignore-path option since it points to this file.
.venv
*.pyc
.DS_Store
.mypy_cache
.pytest_cache
static/dist

# ported over from old version of project
.vim/
.env
.venv-*/
*.log
Makefile
__pycache__/
*.sw[a-z]
migrations/
db.sqlite3
