## The following requirements were added by pip freeze:
aenir @ file:///home/eclair/Documents/coding/_web-dev/aenir_web/aenir
asgiref==3.12.1
Django==6.1.1
django-browser-reload==1.21.0
python-decouple==3.8
sqlparse==0.6.0
