asgiref==3.9.1
certifi==2025.7.9
charset-normalizer==3.4.2
dj-database-url==3.0.1
Django==5.2.4
django-stubs==5.2.1
django-stubs-ext==5.2.1
dotenv==0.9.9
idna==3.10
mypy==1.16.1
mypy_extensions==1.1.0
pathspec==0.12.1
python-dotenv==1.1.1
reactivated==0.47.0
requests==2.32.4
requests-unixsocket2==1.0.0
simplejson==3.20.1
sqlparse==0.5.3
tomli==2.2.1
types-PyYAML==6.0.12.20250516
typing_extensions==4.14.1
urllib3==2.5.0
