nav {
  & menu {
    list-style-type: none;
  }
}

#create_morph {
  display: flex;
  & menu {
    list-style-type: none;
    height: 30rem;
    overflow-y: scroll;
  }
  & li:hover {
    background-color: lightgreen;
  }
  & li.active {
    background-color: lightgreen;
  }
}

#game_select {
  & figure {
    display: flex;
  }
}

.maxed-stat th, .maxed-stat th + td {
  color: green;
}

#list_morphs {
  & menu {
    list-style-type: none;
    height: 30rem;
    width: 20rem;
    overflow-y: scroll;
  }
}

/* #modify_morph { display: grid; } */
#modify_morph > .body {
  display: grid;
  grid-template-areas:
    "profile stats_before stats_after"
    "action_menu . .";
  &> #profile {
    grid-area: profile;
  }
  &> #stats_before {
    grid-area: stats_before;
  }
  &> #stats_after {
    grid-area: stats_after;
  }
  &> #action_menu {
    grid-area: action_menu;
  }
}
