{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>aenir –
      {% block title %}
      A Fire Emblem average stats calculator
      {% endblock %}
    </title>
    <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'htmx.js' %}" defer></script>
  </head>
  <body>
    <header>
      <!-- I gotta fix up the logo. -->
      <a href="/">
        <img src="{% static 'logo.svg' %}" />
      </a>
      <div id="accounts">
        {% if user.username %}
          Welcome, {{ user.username }}!
          <a href="{% url 'accounts:logout' %}">Logout</a>
        {% else %}
          You are not logged in.
          <a href="{% url 'accounts:login' %}">Login</a>
        {% endif %}
      </div>
    </header>
    <nav>
      <menu>
        <li>
          <a href="{% url 'dracogate:game_select' %}">
            Create Morph
          </a>
        </li>
      </menu>
    </nav>
    <main>
      {% block main %}
      {% endblock %}
    </main>
  </body>
</html>
