{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
    <header>
      <!-- I gotta fix up the logo. -->
      <img src="{% static 'logo.svg' %}" />
      <div id="authentication">
        {% if user.username %}
          Welcome, {{ user.username }}!
          <a href="{% url 'accounts:logout' %}">Logout</a>
        {% else %}
          You are not logged in.
          <a href="{% url 'accounts:login' %}">Login</a>
        {% endif %}
      </div>
    </header>
    <main>
      {% block main %}
      {% endblock %}
    </main>
  </body>
</html>
