nav {
  & menu {
    list-style-type: none;
  }
}

#create_morph {
  display: flex;
  & menu {
    list-style-type: none;
    height: 30rem;
    overflow-y: scroll;
  }
  & li:hover {
    background-color: lightgreen;
  }
  & li.active {
    background-color: lightgreen;
  }
}

#game_select {
  & figure {
    display: flex;
  }
}
