{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      aenir –
      {% block title %}
      A Fire Emblem average stats calculator
      {% endblock %}
    </title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    {% tailwind_css %}
    <script src="{% static 'htmx.min.js' %}"></script>
  </head>
  <body>
    <header>
      <a href="{% url 'homepage' %}">
        <img src="{% static 'icon.png' %}" />
      </a>
      <nav>
        <figure>
          <figcaption>Morphs</figcaption>
          <ul>
            <li><a href="{% url 'dracogate:game_select' %}">Create Morph</a></li>
            <li><a href="{% url 'dracogate:morph_list' %}">Evolve Morph</a></li>
            <li><a href="{% url 'dracogate:compare_morphs' %}">Compare Morphs</a></li>
            <li><a href="{% url 'dracogate:compare_morphs_to_input' %}">Compare to Input</a></li>
            {# Coming soon! ...I hope. <li><a href="#">Arena</a></li> #}
          </ul>
        </figure>
      </nav>
      <div id="login">
        {% if user.is_authenticated %}
        <div class="welcome-message">
          Welcome, {{ user.username }}!
        </div>
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button>Logout</button>
        </form>
        {% else %}
          <a href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
    </header>
    <main>
      {% block main %}
      <div id="homepage">
      </div>
      {% endblock %}
    </main>
    <footer>
      <div class="credit"><a href="https://github.com/gchang12/aenir_web" target="_blank">GitHub</a></div>
      <div class="credit">Thanks to <a href="https://serenesforest.net/">Serenes Forest</a> for compiling the data</div>
      <div class="credit">Images belong to Intelligent Systems.</div>
    </footer>
  </body>
</html>
