body {
  margin: 0;
}

header {
  background-color: grey;
}

main {
  background-color: orange;
}

footer {
  background-color: red;
}

nav ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

nav > figure {
  margin: 0;
}

.stat.increased {
  background-color: skyblue;
}

.stat.decreased {
  background-color: red;
}

#action_forecast {
  display: flex;
}
