{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>aenir – 
      {% block title %}
      A Fire Emblem average stats calculator
      {% endblock %}
    </title>
    <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'htmx.js' %}" defer></script>
  </head>
  <body>
    <header>
      <!-- I gotta fix up the logo. -->
      <a href="/">
        <img src="{% static 'logo.svg' %}" />
      </a>
    </header>
    <nav>
      <menu>
        <li>
          <a href="{% url 'dracogate:game_select' %}">
            Create Morph
          </a>
        </li>
        <li>
          <a href="{% url 'dracogate:list_morphs' %}">
            Modify Morphs
          </a>
        </li>
      </menu>
    </nav>
    <main>
      {% block main %}
      {% endblock %}
    </main>
  </body>
</html>
